# Ignore all .env files anywhere in the repo
**/.env
**/.env.*

# Optional: ignore other common env formats
**/.envrc
**/.env.local
**/.env.production
**/.env.development


**/node_modules
**/data # Test information
**/data/** # Test information
